.center {
  /* text centeren */

  text-align: center;
}

.moveButtonPokedex {
  /* de link pokédex knop designen en verplaatsen */
  padding: 15px;
  border-radius: 10px;
  margin-left:23px;
}

.grid {
  /* grid voor het plaatsen van data */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 5px;
  column-gap: 5px;
}
.containerSearchPage {
  /* grid om van de rand van de pagina af te gaan  */
  display: grid;
  grid-template-columns: 5% 90% 5%;
}

.pokemon {
  /* alle data van de pokemon van de rand afhalen */
  text-align: left;
  margin-left: 20px;
}

.border {
  /* border voor design data */
  border: 2px solid black;
  border-radius: 1px;
}

.movedown {
  /* de divs die niet indezelfde grid zitten naar beneden halen */
  margin-top: 5px;
}

.nextLine {
  /* bij abilities de abilities onder elkaar zetten */
  white-space: pre;
}

.input_placement {
  /* invoer veld centeren en groter maken */
  text-align: center;
  padding: 10px;
}
